.navbar {
width: 1680;
height: 68;
opacity: 1;

background: #b17e5f;
}

nav a {
    font-family: Domine;
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;

    color: white !important;
}

#landing {
    background: #ceb0a7;
}

.landing-img {
  width: 100%;
  max-width: 500px;
  height: 650px;
  object-fit: cover;
  object-position: top center;
  border-radius: 16px;
}

#hero {
    background: #dfc0bb;
}
.carousel-item img {
  height: 500px;
  object-fit: contain;
  object-position: top;
}


@media (max-width: 768px) {
  .carousel-item img {
    height: 300px;
  }
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.4);
  padding: 1rem;
  border-radius: 8px;
}

#hero-btn {
    background: #b17e5f;
}

#name {
    font-family: Domine;
    font-weight: 600;
    font-style: Bold;
    font-size: 50px;
    letter-spacing: -2%;
    vertical-align: bottom;

    color: #926147;
}

#title {
    font-family: Domine;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 35px;
    letter-spacing: -2%;
    vertical-align: bottom;

    color: #53424c;
}

#me-box {
    width: 350px;
    height: 400px;
    border-radius: 50%;
    overflow: hidden;
}

#me {
    width: 100%;
    height: 100%;
    aspect-ratio: 0.68;
    object-fit: contain;
}

#about-me {
    color: white;
}

#base {
    font-family: Domine;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;

    color: #b4a7b7;
    background: #53424c;
    border-radius: 20px;
}

#projects {
    font-family: Domine;

    background: #c7a3a0;
    color: #53424c;
}

#gown1 {
    background-color: #D7BDBA;
    border-radius: 5%;
}

#gown2 {
    background-color: #D7BDBA;
    border-radius: 5%;
}

#gown3 {
    background-color: #D7BDBA;
    border-radius: 5%;
}

#gown4 {
    background-color: #D7BDBA;
    border-radius: 5%;
}

#gown5 {
    background-color: #D7BDBA;
    border-radius: 5%;
}

#gown6 {
    background-color: #D7BDBA;
    border-radius: 5%;
}

#gown7 {
    background-color: #D7BDBA;
    border-radius: 5%;
}

#gown8 {
    background-color: #D7BDBA;
    border-radius: 5%;
}

#gown9 {
    background-color: #D7BDBA;
    border-radius: 5%;
}

.image-container img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 8px;
    
}

/* .image-container {
    width: 100%;
    height: 300px;
    overflow: hidden;
} */

#tools {
    background: #BEA5AC;
    font-family: Domine;
    color: #53424c;

}

.panel-inner {
    font-family: Domine;
	width: 75%;
	margin-left: 250px;
	margin-right: auto;
	padding-top: 3.5rem;
    color: #53424c;
}

#contact {
    font-family: Domine;
	font-weight: 600;
	font-size: 40px;
	color: #53424c;
}

#contact-name,
#contact-email,
#contact-message {
    font-family: Domine;
	font-weight: 600;
	font-size: 20px;
	color: #53424c;
}

.form-control::placeholder {
    font-family: Domine;
	font-weight: 600;
	font-size: 20px;
	color: #cfcfcf !important;
}

.form-control {
    font-family: Domine;
    font-weight: 600;
    font-size: 20px;
    color: #765C3D !important;
    padding: 14px;
}

.custom-btn {
    font-family: Domine;
	background-color: #53424c !important;
	border: none !important;
	border-radius: 50px !important;
	padding: 0.75rem 2rem !important;
	font-weight: 700 !important;
	font-size: 1.25rem !important;
	color: #cfcfcf !important;
	display: inline-block;
}

.custom-btn:hover {
	background-color: #b4a7b7 !important;
}

#appointment {
    background: #ceb0a7;
}

#appt-card {
    background: #ceb0a7;
    border: 1px solid #53424c;
    border-radius: 10%;
    
}

.book-btn {
    background: #dfc0bb;
}

footer {
    font-family: Domine;
    color: #cfcfcf !important;
	background-color: #b17e5f;
;
}

#last-part {
    background: #b4a7b7;
}

#contact-pic img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    display: block;
}